.login_area {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(255, 255, 255)
}
.login_area h1 {

}

.login_box {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border: solid 1px #dee2e6;
}
.login_box div {
    display: flex;
    justify-content: center;
}


.btn_area {
    display: flex; gap:3px; margin: 10px 0;
}
.btn_area .right { justify-content: flex-end; }
.btn_area .left { justify-content: start; }

.mb5 { margin-bottom: 5px }
.mr5 { margin-right: 5px}

.date_area {
    display: flex;
    justify-content: center;
    align-items: center;

}

.date_area button {
    padding: 6px;
    margin : 5px;
    height: fit-content;
    background-color: transparent;
    border: none;
    font-size: 10px;

}

.underline {
    background-color: #40CCFF;
    height: 2px;
}

.month_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.month_area button{
    padding: 6px;
    margin : 5px;
    height: fit-content;
    background-color: transparent;
    border: none;
    font-size: 10px;
}

.calender_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topMenu {
    height: 30px;
    width: 850px;
}
.topMenu ul li {
    list-style: none;
    color: white;
    background-color: #40CCFF;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}
.topMenu .menuLink {
    text-decoration:none;
    color: white;
    display: block;
    width: 150px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Trebuchet MS", Dotum, Arial;
}
.topMenu .menuLink:hover {
    color: #4f9ef1;
    background-color: #4d4d4d;
}